Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></ul>
<% end %>

Contacts for <strong><%= @company.name %></strong>


<ul>
  <% @company.contacts.reverse.each do |contact| %>
  <li><%= contact.full_name%></li>
  <li><%= contact.position%></li>
  <li><%= contact.email%></li>
  <br>
  <% end %>
</ul>

<%= render partial: "contact_form" %>
